body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #ff0000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #ff0000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.centered-image {
    display: block;
    margin: auto;
    max-width: 100%; /* Limita el ancho máximo de la imagen */
    height: auto; /* Mantiene la proporción de aspecto */
}